.home{
  width: 95%;
  margin: auto;
}

.slider{
  width: full;
}

 .tesmonialSection{
 
  width: 80%;
  height: auto;
  margin: auto;
 }

 .news{
  width: 80%;
  height: auto;
  margin: auto;
 }
 
  